<div id="push"></div>
<footer class="footer navbar-fixed bottom">
    <div class= "container">
        <nav>
            <ul>
                <li> <%=link_to "Home", '/'%></li>
                <li> <%=link_to "Subscribe", '/newsletters/new'%></li>
                <li> <%=link_to "Saved", '/savedlist'%></li>
                <li> <%=link_to "Account", '#'%></li>
            </ul>
        </nav>
    </div>
</footer>